*{
    padding: 0;
    margin: 0;
    /* background-color: #F4F5F8; */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
  background-color: #F4F5F8;
  height: 100vh;
}

header {
  background-image: linear-gradient(rgba(244, 245, 248, 0.8), rgba(71, 140, 141, 0.8)),
  /* Second background layer: image */
  url(images/header.png);
    height: 170px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 50px; /* Adjust the top value as needed */
    left: 70px; /* Adjust the left value as needed */
    transition: transform 0.3s ease;
  }

  .logo img{
    height: 70px;
    width: 270px;
  }

  .logo :hover{
    transform: scale(1.01); /* Apply a scale transformation on hover */
  }

  /* Right Header design Start Here */

  /* design for right header Container */

.right-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 390px;
    height: 200px;
    margin-top: 50px;
    margin-right: 70px;
    background-color: transparent;
  }

  /* Call box design */
.call-box1 {
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 30px;
    display: flex;
    /* padding-top: 12px; */
    padding-left: 20px;
    transition: transform 0.3s ease;
  }
  .call-box1:hover {
    transform: scale(1.01);
  }

  .call-box2 {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 30px;
    display: flex;
    /* padding-top: 12px; */
    padding-left: 10px;
    transition: transform 0.3s ease;
  }

  .call-box2:hover{
    transform: scale(1.01);
  }

  /* Container desing for right Header */
  .container1 {
    width: 120px;
    height: auto;
    background-color: transparent;
    float: left;
    margin-left: 10px;
  }

  .container2{
    width: 200px;
    /* height: auto; */
    background-color: transparent;
    float: left;
    margin-left: 10px;
  }
.middle-align{
  display: flex;
  justify-content: center;
  align-items: center;
}
  

  .container4 {
    width: 450px;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 20px;
  }

  .container3{
    width: auto;
    height: auto;
    background-color: transparent;
    margin-top: 20px;
  }

  .login-icon i{
    font-size: 30px;
    margin-left: 20px;
    color: white;
    justify-content: center;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }

  .login-icon i:hover{
    transform: scale(1.1); /* Apply scale transform on hover */
  }
  
  .phone-icon {
    width: 20px;
    height: 20px;
    background-image: url(images/icon_callwhite.png); 
    background-size: cover;
    margin-right: 10px;
  }
  
  .number {
    font-size: 16px;
    color: white;
  }
  

  
  .call-tagline {
    text-align: center;
    font-size: 16px; /* Change from "size" to "font-size" */
    color: white;
  }
  


  .container4 p{
    font-size: 25px;
    color: white;
    text-align: right;
  }

  /* Right Header Design End Here */

  /* Search Bar CSS */
  .search-bar {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 45px;
    overflow: hidden; /* Ensures the border-radius is applied properly */
  }
  
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    padding-left: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
  }
  
  .search-bar button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
  }

.fa-search {
    color: #2F857E;
    font-size: 20px;
    padding-right: 20px;
  }

  .search-bar input[type="text"]::placeholder {
    color: #2F857E;
    opacity: 50%;
  }

  /* Search Bar CSS End */


 /* Navigation Menu Design */
 nav {
  display: inline-block;
  align-items: center;
  margin-top: 50px;
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Left side Menu design */
.core-services {
  margin-left: 40px;
}

.core-services ul li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  padding-left: 20px;
  transform: none;
  border: 3px solid transparent; /* Add transparent border */
}

.core-services ul li a{
  text-decoration: none;
  color: #2F857E;
  font-size: 20px;

}

/* .core-services ul li:hover {
  background-color: white;
  border: 3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
} */

/* Right Side Menu Design */
.health-services {
  top: 250;
  right: 0;
  position: absolute;
  margin-right: 50px;
}

.health-services ul li {
  font-size: 20px;
  color: #2F857E;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  margin-left: 15px;
  padding-left: 10px;
  transform: none;
  border: 3px solid transparent; /* Add transparent border */
}

.health-services ul li a{
  text-decoration: none;
  color:#2F857E;
}

/* Hover effect */
/* .health-services ul li:hover {
  background-color: white;
  border: 3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
} */

/* Styles for the selected menu item */
.core-services .selected,
.health-services .selected {
  border-radius: 30px;
  border: 3px solid #2F857E; /* Add border for selected items */
}

/* Remove hover effect for selected menu items */
.core-services .selected:hover,
.health-services .selected:hover {
  border: 3px solid #2F857E;
  box-shadow: none;
}

  
  /* Vertical line design */
  
  .vertical-line-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  
  .vertical-line {
    width: 1px;
    height: 250px;
    background-color: #2F857E;
    margin-top: 350px ;
  }
  

  /* Only Navigation Bar Design End Here */


  /* Box Design for Menu Start Here*/
  .nav1-container{
    margin-left: 70px;
    margin-top: 10px;
    width: 650px;
    height: 350px;
  }
  .nav1-container a{
    transition: transform 0.3s ease;
  }

  .nav1-container a:hover{
    transform: scale(1.01);
  }

  .boxes-container {
    float: left;
    margin-right: 60px;
    margin-bottom: 20px;
  }
  
  .box {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
  }
  
  .box-content {
    width: 140px;
    height: 100px;
    background-color: #478C8D;
    opacity: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-left:5px;
  }
  
  .box-content img {
    width: 90px;
    height: 90px;
    padding: 10px;
    object-fit: fill;
    align-items: center;
  }

  .boxes-container p{
    height: 45px;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    text-align: center;
    padding: 5px;
    color: #2F857E;
  }


  /* Design For Nav 2 Menu Container */
.nav2-container{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 70px;
    margin-top: 320px;
    width: 650px;
    height: 350px;
}

/* .nav2-container a{
    transition: transform 0.3s ease;
  }

  .nav2-container a:hover{
    transform: scale(1.01);
  } */

  .boxes-container2 {
    float: right;
    margin-left: 60px;
    margin-bottom: 20px;
  }
  
  .box2 {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 5 px;
  }
  
  
  .box-content2 img {
    width: 140px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-left:5px;
    padding-top: 5px;
  }

.doctor-name{
    font-size: 14px;
    color: #2F857E;
    padding-left: 15px;
    font-weight: 700;
}

.doctor-title{
    font-size: 12px;
    color: #2F857E;
    padding-left: 15px;
}

.doctor-profile{
    font-size: 11px;
    margin-left:15px;
    /* margin-top: px; */
    /* margin-right: 60px; */
    /* border-radius: 10px; */
    transition: transform 0.3s ease;
    font-weight: 700;
}

.doctor-profile a{
    color: #2F857E;
}

.doctor-profile a:visited{
    color: #2F857E;
}

.doctor-profile:hover{
    transform: scale(1.05);
}

.doctor-icon img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.doctor-contact1 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 5px;
    width: 50px;
}

.doctor-contact2 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 215px;
    width: 50px;
}

.doctor-contact3 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 425px;
    width: 50px;
}

.doctor-contact4 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 295px;
    margin-right: 5px;
    width: 50px;
}

.doctor-contact5 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 295px;
    margin-right: 215px;
    width: 50px;
}

.doctor-contact6 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 295px;
    margin-right: 425px;
    width: 50px;
}


  /* Footer css start */
  
footer {
    background-image: linear-gradient(rgba(244, 245, 248, 0.8), rgba(71, 140, 141, 0.8));
    height: 60px;
    bottom: 0vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
  }
.footer{
    padding-left: 70px;
    padding-top: 20px;
}
.footer p{
    float: left;
    color: #2F857E;
    font-weight: 600;
}
.footer a{
    padding-left: 30px;
    color: #2F857E;
    transition: transform 0.3s ease; 
    font-weight: 600;
}


.footer a :hover{
    transform: scale(1.1); /* Apply a scale transformation on hover */
  }
  

/* Footer Desing Ends Here */

body a{

    transition: transform 0.3s ease;      
}

body a :hover{
    transform: scale(1.01); /* Apply a scale transformation on hover */
  }


 